/*==============================================================================
# NAV
==============================================================================*/
.main-nav {
    display: block;
    position: relative;
    height: $nav-height;
    width: 100%;
    background: $t-blue;
}


/*------------------------------------------------------------------------------
# LOGO
------------------------------------------------------------------------------*/
.nav-logo-container {
    position: absolute;
    top: 0;
    left: 25%;
    transform: translate(-100%, 0);
    height: $nav-height;
    width: 8.33333%;
    transition: background 0.1s;

    .nav-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: $nav-logo-height;
        width: auto;
    }

    &:hover {
        background: darken($t-blue, 4%);
    }
}


/*------------------------------------------------------------------------------
# LINKS
------------------------------------------------------------------------------*/
.nav-links,
.nav-user {
    display: flex;
    position: absolute;
    top: 0;
    height: $nav-height;
    text-align: center;
    line-height: $nav-height;

    li {
        display: block;
    }
}

.nav-links {
    left: 25%;
    width: 25%;

    li {
        width: 33.33333%;

        .nav-link {
            display: block;
            width: 100%;
            height: 100%;
            color: $t-white;
            transition: color 0.1s, background 0.1s;

            &:hover {
                color: $t-lgrey;
                background: darken($t-blue, 4%);
            }

            &-current {
                color: $t-blue;
                background: $t-white;

                &:hover {
                    color: darken($t-blue, 4%);
                    background: $t-lgrey;
                }
            }
        }
    }
}

// Add some padding to the right side of the phone icon
.nav-link-call .fa {
    margin-right: 7px;
}


/*------------------------------------------------------------------------------
# USER
------------------------------------------------------------------------------*/
.nav-user {
    right: 25%;
    width: calc( 8.33333% + 70px );

    .nav-user-signout {
        width: calc( 100% - 70px );

        a {
            display: block;
            width: 100%;
            height: 100%;
            color: $t-white;
            background: $t-orange;
            transition: color 0.1s, background 0.1s;

            &:hover {
                color: $t-lgrey;
                background: darken($t-orange, 5%);
            }
        }
    }

    .nav-user-avatar {
        width: $nav-height;
        font-size: 26px;
        font-weight: 600;
        color: $t-white;
        cursor: default;
    }
}
