/*==============================================================================
# TYPOGRAPHY
==============================================================================*/
h1 {
    font-size: 2em;
    font-weight: 600;
}

h3 {
    color: $t-grey;
    font-weight: 400;
    margin-bottom: 5px;
}
