/*==============================================================================
# VARIABLES
==============================================================================*/


/*------------------------------------------------------------------------------
# COLOURS
------------------------------------------------------------------------------*/
$t-blue:    #3fafd7;
$t-orange:  #f9aa1e;
$t-white:   #ffffff;
$t-lgrey:   #fcfcfc;
$t-grey:    #aaaaaa;
$t-black:   #333333;


/*------------------------------------------------------------------------------
# DIMENSIONS
------------------------------------------------------------------------------*/
$nav-height: 70px;
$nav-logo-height: 26px;

$callscreen-avatar-size: 100px;
